* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    padding: 0 30px;
}

/*Standard styling - centreret tekst*/
.body-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: mediumvioletred;
}

a:hover img {
    filter: opacity(80%);
}

p {
    font-family: "Noto Sans";
}

header {
    margin-top: 50px;
}

h1 {
    font-family: 'Merriweather', Times, serif;
}

header h2 {
    font-family: 'Noto Sans', Courier, monospace;
    font-weight: 500;
    margin-bottom: 20px;
}

#intro-text {
    margin-bottom: 25px;
}

#projects-scroller {
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    gap: 3px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.project {
    display: flex;
    height: 50%;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 30px;
}

.project-desc {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 10%;
    margin-top: 10px;
}

.project img {
    width: 100%;
    height: auto;
}

.project-title {
    font-family: 'Merriweather', Times, serif;
}

.project-text {
    font-family: 'Noto Sans', Courier, sans-serif;
    font-size: 12px;
}

/* FOOTER RELATERET */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

footer img {
    width: 40px;
}

#itchio-icon img {
    width: 80px;
}

footer a:hover {
    opacity: 50%;
}

/* PROJECT PAGE STYLE */
.project-body {
    margin-top: 20px;
}

.project-body p {
    margin-bottom: 5px;
}

/* Youtube embed */
.project-intro iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    width: 100%;
    height: 500px;
}

/* GALLERY */
.gallery-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    align-self: center;
}

.gallery-container {
    white-space: nowrap;
    animation: scroll 15s linear infinite;
    display: flex;
    width: max-content;
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery-container img {
    display: inline-block;
    width: auto;
    height: 200px;
    margin-right: 5px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.gallery-container:hover {
    animation-play-state: paused;
}

.gallery-wrapper .gallery-container img:hover {
    transform: scale(1.15);
    z-index: 10;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}
